table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}
body{
	height: 100vh;
	width: 100%;
}
tr{
	background-color:#b5caf2;
}	
tr:nth-child(even){
	background-color: #c9efcd;
}
.container{
	padding-top:250px; 
}
th {
    background-color: #02700d;
    color: white;
}

.vote-page
{
	height: 100%;
	width: 100%;
    background: #003f06;
}
.mytable
{
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    text-align: center;
}

